{{ ansible_managed | comment }}

# The webdav endpoint for automatic account creation
# Should be in the format https://host/owncloud/remote.php/webdav
# Default: <empty>
com.openexchange.file.storage.owncloud.oauth.webdav.url={{ owncloud_webdav_url }}

# The folder name shown in the OX Infostore
# Default: ownCloud
com.openexchange.file.storage.owncloud.oauth.displayName={{ owncloud_display_name }}

# The capability to enable the automatic handling of ownCloud session based accounts
# Default: not_set
com.openexchange.capability.filestorage_owncloud_oauth={{ owncloud_capability_filestorage_oauth | ternary('true', 'false') }}

# The capability filestorage_owncloud must also be enabled
# Default: not_set
com.openexchange.capability.filestorage_owncloud={{ owncloud_capability_filestorage | ternary('true', 'false') }}
