{{ ansible_managed | comment }}

# Defines the default refresh interval of the calendar feeds (in minutes).
# Default: 10080
com.openexchange.calendar.ical.refreshInterval={{ appsuite_calendar_ical_refresh_interval }}
