{{ ansible_managed | comment }}

<Proxy balancer://oxcluster_facade>
        Order Allow,Deny
        Allow from all
{% for member in mobileapifacade_apache_backends %}
        BalancerMember {{ member }} timeout=100 smax=0 ttl=60 retry=60 loadfactor=50 keepalive=On route=FOX1
{% endfor %}

        ProxySet stickysession=JSESSIONID|jsessionidscolonpathdelim=On
        SetEnv proxy-initial-not-pooled
        SetEnv proxy-sendchunked
</Proxy>

ProxyPass /services/api-facade balancer://oxcluster_facade/services/api-facade
